Repository ognjenogi/Banka-4-Backend: changes, and which Prow jobs are due for each by the changed paths.
All: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

.prow/stock-service.yml:

# Run tests and integration tests on the stock-service
presubmits:
  - name: pull-banka-4-backend-stock-service-test
    run_if_changed: "^(.*kts$|stock-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :stock-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r stock-service/build/reports /logs/artifacts/stock-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d stock-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/stock-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

.prow/user-service.yml:

# Run tests and integration tests on the user-service
presubmits:
  - name: pull-banka-4-backend-user-service-test
    run_if_changed: "^(.*kts$|user-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :user-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r user-service/build/reports /logs/artifacts/user-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d user-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/user-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

user/tests: fix TotpServiceImplTest
  user-service/src/test/java/rs/banka4/user_service/unit/authenticator/TotpServiceImplTest.java
Due: pull-banka-4-backend-user-service-test

wip: stock: require authentication on /listings routes
  stock-service/src/main/java/rs/banka4/stock_service/controller/ListingController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ListingApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

user-service: add route for getting actuarys only
  user-service/src/main/java/rs/banka4/user_service/config/SecurityConfig.java
  user-service/src/main/java/rs/banka4/user_service/controller/EmployeeController.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/EmployeeApiDocumentation.java
Due: pull-banka-4-backend-user-service-test

user-service: update Employe specification to filter by having authority
  user-service/src/main/java/rs/banka4/user_service/utils/specification/EmployeeSpecification.java
Due: pull-banka-4-backend-user-service-test

user-service: add logic for actuary onlu route
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/EmployeeService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user-service/client-service: client not losing TRADE privilege
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user-service/security-config: anyOf for /search/actuary-only foute
  user-service/src/main/java/rs/banka4/user_service/config/SecurityConfig.java
Due: pull-banka-4-backend-user-service-test

stock-service/controller: change routes
  stock-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ActuaryApiDocumentation.java
Due: pull-banka-4-backend-stock-service-test

stock-service/security: add security for actuary routes
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service/security: change request matcher post to put for matcher /actuaries/limit/**
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
Due: pull-banka-4-backend-stock-service-test

user-service/employeService: add auth header for restTemplate exchange calls
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
Due: pull-banka-4-backend-user-service-test

stock-service/security-config: changed method to put for matcher /actuaries/update/**
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
Due: pull-banka-4-backend-stock-service-test

squashed and added a newline and spotless
  exchange-office/banka4_exchange/__init__.py
  stock-service/build.gradle.kts
  stock-service/src/main/java/rs/banka4/stock_service/config/retrofit/AlphaVantageService.java
  stock-service/src/main/java/rs/banka4/stock_service/config/retrofit/RetroFitConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/dtos/GlobalQuoteDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/dtos/ListingApiDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/BlackHolesOptionPricing.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/OptionsMaker.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/forex/db/CurrencyMapper.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/forex/dtos/ForexPairApiDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/forex/dtos/RealTimeCurrencyExchangeRate.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/stock/dtos/StockInfoDto.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/OptionsRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
  stock-service/src/main/resources/application-dev.yml
  stock-service/src/main/resources/application.properties
  stock-service/src/main/resources/rs/banka4/stock_service/runners/exchanges.csv
  stock-service/src/main/resources/rs/banka4/stock_service/runners/future_data.csv
  stock-service/src/main/resources/rs/banka4/stock_service/runners/ticker_exchange.csv
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service/exceptions: add exceptions
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/ActuaryNotFoundException.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/CannotUpdateActuaryException.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/NegativeLimitException.java
Due: pull-banka-4-backend-stock-service-test

stock-service/actuary-service: add some validation checks
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service/actuary-service: add auth to search route
  stock-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ActuaryApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/LimitPayload.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/ActuaryService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service/test: add integration tests for actuary routes
  stock-service/src/test/java/rs/banka4/stock_service/integration/ActuaryTests.java
  stock-service/src/test/java/rs/banka4/stock_service/utils/ActuaryGenerator.java
Due: pull-banka-4-backend-stock-service-test

user-service/employee-service: check if actuary should be created in createEmployee
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user-service/test: fix tests to have security context
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceCreateTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceUpdateTests.java
Due: pull-banka-4-backend-user-service-test

code format fix :))
  stock-service/src/main/java/rs/banka4/stock_service/StockServiceApplication.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ActuaryApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/actuaries/db/dto/ActuaryPayloadDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/ActuaryInfoDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/CombinedResponse.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/EmployeeResponseDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/LimitPayload.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/ActuaryNotFoundException.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/CannotUpdateActuaryException.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/NegativeLimitException.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/ActuaryRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/ActuaryService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
  stock-service/src/main/java/rs/banka4/stock_service/utils/specification/ActuaryInfoSpecification.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ActuaryTests.java
  stock-service/src/test/java/rs/banka4/stock_service/utils/ActuaryGenerator.java
  user-service/src/main/java/rs/banka4/user_service/controller/EmployeeController.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/EmployeeApiDocumentation.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/ActuaryPayloadDto.java
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/EmployeeService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/utils/specification/EmployeeSpecification.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceCreateTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceUpdateTests.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user: make ExceptionHandlingFilter use springs ObjectMapper
  user-service/src/main/java/rs/banka4/user_service/config/filters/ExceptionHandlingFilter.java
Due: pull-banka-4-backend-user-service-test

common: add error handler for TypeMismatchException
  common/src/main/java/rs/banka4/rafeisen/common/exceptions/ErrorResponseHandler.java
Due: none

common/ErrorResponseHandler: deduplicate code
  common/src/main/java/rs/banka4/rafeisen/common/exceptions/ErrorResponseHandler.java
  user-service/src/main/java/rs/banka4/user_service/config/filters/ExceptionHandlingFilter.java
Due: pull-banka-4-backend-user-service-test

Removed dead code and added javadocs
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/BlackHolesOptionPricing.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/OptionsMaker.java
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

Removed dead code and added javadoc
  stock-service/src/main/resources/env.properties
Due: pull-banka-4-backend-stock-service-test

stock-service/add-api-key-compose
  docker-compose.yml
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
  stock-service/src/main/resources/application-dev.yml
  stock-service/src/main/resources/application.properties
Due: pull-banka-4-backend-stock-service-test

stock-service/removed-env-properties
  stock-service/src/main/resources/env.properties
Due: pull-banka-4-backend-stock-service-test

stock-service/changed-profile-for-runner
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

stock-service/retrofit: use retrofit for intern communication
  stock-service/build.gradle.kts
  stock-service/src/main/java/rs/banka4/stock_service/config/RestTemplateConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/config/RetrofitConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/config/clients/UserServiceClient.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/PaginatedResponse.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
  stock-service/src/main/java/rs/banka4/stock_service/utils/LimitResetScheduler.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

format code
  stock-service/src/main/java/rs/banka4/stock_service/config/RetrofitConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/PaginatedResponse.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

add retrofit deps
  common/src/main/java/rs/banka4/rafeisen/common/security/Privilege.java
  stock-service/build.gradle.kts
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

git fix search route and add test
  stock-service/src/main/java/rs/banka4/stock_service/config/RetrofitConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/config/clients/UserServiceClient.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ActuaryTests.java
Due: pull-banka-4-backend-stock-service-test

user-service/security-config: request matcher change
  user-service/src/main/java/rs/banka4/user_service/config/SecurityConfig.java
Due: pull-banka-4-backend-user-service-test

disabled test
  stock-service/src/main/java/rs/banka4/stock_service/config/RetrofitConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ActuaryTests.java
Due: pull-banka-4-backend-stock-service-test

config: disable schema auto recreate
  stock-service/src/main/resources/application.properties
Due: pull-banka-4-backend-stock-service-test

stock,user: enable 'test' profile in tests
  stock-service/src/test/resources/application.yml
  user-service/src/test/resources/application.yml
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

TestDataRunner skipped from integration tests
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

fixes, search to GET method
  stock-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ActuaryApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
  user-service/build.gradle.kts
  user-service/src/main/java/rs/banka4/user_service/config/RetrofitConfig.java
  user-service/src/main/java/rs/banka4/user_service/config/clients/StockServiceClient.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test
