Repository ognjenogi/Banka-4-Backend: changes, and which Prow jobs are due for each by the changed paths.
All: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

.prow/stock-service.yml:

# Run tests and integration tests on the stock-service
presubmits:
  - name: pull-banka-4-backend-stock-service-test
    run_if_changed: "^(.*kts$|stock-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :stock-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r stock-service/build/reports /logs/artifacts/stock-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d stock-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/stock-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

.prow/user-service.yml:

# Run tests and integration tests on the user-service
presubmits:
  - name: pull-banka-4-backend-user-service-test
    run_if_changed: "^(.*kts$|user-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :user-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r user-service/build/reports /logs/artifacts/user-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d user-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/user-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

stock/tests: add javadoc to test_getPriceChanges_basic
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

stock-service: change test return value
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

stock-service: change routes to get securityId instead of listingId
  stock-service/src/main/java/rs/banka4/stock_service/controller/ListingController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ListingApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/ListingRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/ListingService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ListingServiceImpl.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

stock/tests: add test_getListingOptions_basic
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
  stock-service/src/test/java/rs/banka4/stock_service/utils/AssetGenerator.java
Due: pull-banka-4-backend-stock-service-test

user-service-fix: card search account number filter
  user-service/src/main/java/rs/banka4/user_service/repositories/CardRepository.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/CardServiceImpl.java
Due: pull-banka-4-backend-user-service-test

stock-service:tickers added to AssetGenerator
  stock-service/src/test/java/rs/banka4/stock_service/utils/AssetGenerator.java
Due: pull-banka-4-backend-stock-service-test

stock: add and use Hibernate JPA model generator
  stock-service/build.gradle.kts
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ListingApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/dtos/ListingFilterDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/specificaion/ListingSpecification.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/ListingRepository.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service:getListings endpoint integration tests
  stock-service/src/main/java/rs/banka4/stock_service/controller/ListingController.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

stock/test: disable connection pooling in tests
  stock-service/src/test/resources/application.yml
Due: pull-banka-4-backend-stock-service-test

stock: use Spring Data Web page DTOs
  stock-service/src/main/java/rs/banka4/stock_service/StockServiceApplication.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

testlib: add code-style convention and reformat
  testlib/build.gradle.kts
  testlib/src/main/java/rs/banka4/testlib/integration/DbEnabledTest.java
  testlib/src/main/java/rs/banka4/testlib/integration/FlywayCleanerExtension.java
  testlib/src/main/java/rs/banka4/testlib/integration/IntegrationTest.java
  testlib/src/main/java/rs/banka4/testlib/integration/PSQLTestContainerConfig.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service/domain: add response dtos
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/ActuaryInfoDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/CombinedResponse.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/EmployeeResponseDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/Gender.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/response/LimitPayload.java
Due: pull-banka-4-backend-stock-service-test

stock-service/controllers: add routes for dealing with actuaries
  stock-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/ActuaryApiDocumentation.java
Due: pull-banka-4-backend-stock-service-test

stock-service/service: add service logic for dealing with actuaries
  stock-service/src/main/java/rs/banka4/stock_service/repositories/ActuaryRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/ActuaryService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ActuaryServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service:added javadoc for ListingSpecification
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/specificaion/ListingSpecification.java
Due: pull-banka-4-backend-stock-service-test

stock-service:updated javadoc for ListingSpecification
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/specificaion/ListingSpecification.java
Due: pull-banka-4-backend-stock-service-test

stock-service: ListingDetailsDto fix JsonSubtypes names
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/dtos/ListingDetailsDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/specificaion/ListingSpecification.java
Due: pull-banka-4-backend-stock-service-test

user-service-fix: integration tests for client card search
  user-service/src/main/java/rs/banka4/user_service/service/impl/CardServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/integration/SearchClientCardsTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/generator/UserGenerator.java
  user-service/src/test/resources/testdata/SearchClientCardsTest_clientSearchCardsSuccessfully.json
Due: pull-banka-4-backend-user-service-test

stock-service: add premium column to options table migration
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/Option.java
  stock-service/src/main/resources/db/migration/V2025.204.03.1743704226__add_premium_to_options.sql
Due: pull-banka-4-backend-stock-service-test

stock-service: change option route to send price also
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/dtos/OptionDto.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/ListingServiceImpl.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
  stock-service/src/test/java/rs/banka4/stock_service/utils/AssetGenerator.java
Due: pull-banka-4-backend-stock-service-test

user: fix date dependence in SearchClientCardsTest
  user-service/src/test/resources/testdata/SearchClientCardsTest_clientSearchCardsSuccessfully.json
Due: pull-banka-4-backend-user-service-test

common/jwt: add new util for handling jwt parsing
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtTokenGenerator.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtUtil.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedAccessToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedRefreshToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedToken.java
Due: none

common: add JwtTokenType enum
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtTokenGenerator.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedToken.java
Due: none

user/cards: fix role check for cards filter
  user-service/src/main/java/rs/banka4/user_service/exceptions/user/client/ClientNotFound.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/CardServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user,common: migrate UserType into common code
  common/build.gradle.kts
  common/src/main/java/rs/banka4/rafeisen/common/security/UserType.java
  user-service/src/main/java/rs/banka4/user_service/config/filters/JwtAuthenticationFilter.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/User.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/db/Client.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/db/Employee.java
  user-service/src/main/java/rs/banka4/user_service/security/AuthenticatedBankUserPrincipal.java
  user-service/src/main/java/rs/banka4/user_service/security/UnauthenticatedBankUserPrincipal.java
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/JwtService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/JwtServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceTests.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user/tests: fix integration tests and edit refresh token to have role
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtTokenGenerator.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedRefreshToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedToken.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/AccountServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/AuthServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/JwtServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/integration/LoginTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/generator/UserGenerator.java
Due: pull-banka-4-backend-user-service-test

testlib: add JwtPlaceholders with a variety of handy tokens
  testlib/src/main/java/rs/banka4/testlib/utils/JwtPlaceholders.java
Due: none

user,stock: use longer key for JWTs
  stock-service/src/main/resources/application-dev.yml
  user-service/src/main/resources/application-dev.yml
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

common: remove dead code
  common/src/main/java/rs/banka4/rafeisen/common/exception/BaseApiException.java
  common/src/main/java/rs/banka4/rafeisen/common/exception/HttpStatus.java
  common/src/main/java/rs/banka4/rafeisen/common/exception/MalformedJwt.java
  common/src/main/java/rs/banka4/rafeisen/common/exception/UnsupportedJwt.java
Due: none

stock: add spring security config
  stock-service/build.gradle.kts
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/BaseApiException.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/ExpiredJwt.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/NoJwtProvided.java
  stock-service/src/main/java/rs/banka4/stock_service/security/BearerTokenParsingFilter.java
  stock-service/src/main/java/rs/banka4/stock_service/security/JwtConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
  stock-service/src/test/resources/application.yml
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

common: rework JWT handling API
  common/build.gradle.kts
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtParseFailed.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtTokenGenerator.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtTokenType.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/JwtUtil.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedAccessToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedRefreshToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/UnverifiedToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/VerifiedAccessToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/VerifiedRefreshToken.java
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/VerifiedToken.java
  common/src/test/java/rs/banka4/rafeisen/common/JwtUtilTests.java
  stock-service/build.gradle.kts
  user-service/build.gradle.kts
  user-service/src/main/resources/application.properties
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

common: fix VAT parse failing if a privilege set is empty
  common/src/main/java/rs/banka4/rafeisen/common/utils/jwt/VerifiedAccessToken.java
  common/src/test/java/rs/banka4/rafeisen/common/JwtUtilTests.java
Due: none

user: use common JWT API for JwtAuthenticationFilter and JwtService
  user-service/src/main/java/rs/banka4/user_service/config/filters/JwtAuthenticationFilter.java
  user-service/src/main/java/rs/banka4/user_service/repositories/UserTotpSecretRepository.java
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/JwtService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/JwtServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/TotpServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/routes/NoopJwtAuthenticationFilter.java
  user-service/src/test/java/rs/banka4/user_service/unit/authenticator/TotpServiceImplTest.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/filters/RoutesFilterTests.java
Due: pull-banka-4-backend-user-service-test

stock/tests: authenticate tests
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
  testlib/src/main/java/rs/banka4/testlib/utils/JwtPlaceholders.java
Due: pull-banka-4-backend-stock-service-test

common/ABUA: mark ABUA as a value type
  common/src/main/java/rs/banka4/rafeisen/common/security/AuthenticatedBankUserAuthentication.java
Due: none

stock/tests: add hasStatusOk assertions to ListingTests
  stock-service/src/test/java/rs/banka4/stock_service/integration/ListingTests.java
Due: pull-banka-4-backend-stock-service-test

user/JAF: handle null header in parseAuthHeader
  user-service/src/main/java/rs/banka4/user_service/config/filters/JwtAuthenticationFilter.java
Due: pull-banka-4-backend-user-service-test

stock: enable TRACE logging on our packages in dev
  stock-service/src/main/resources/application-dev.yml
Due: pull-banka-4-backend-stock-service-test

user,common: migrate AuthenticatedBankUser*, SecurityUtils into common
  common/src/main/java/rs/banka4/rafeisen/common/security/AuthenticatedBankUserAuthentication.java
  common/src/main/java/rs/banka4/rafeisen/common/security/AuthenticatedBankUserPrincipal.java
  common/src/main/java/rs/banka4/rafeisen/common/security/SecurityUtils.java
  user-service/src/main/java/rs/banka4/user_service/config/filters/JwtAuthenticationFilter.java
  user-service/src/main/java/rs/banka4/user_service/security/BankUserAuthProvider.java
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/JwtService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/JwtServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/TotpServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/unit/authenticator/TotpServiceImplTest.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceTests.java
Due: pull-banka-4-backend-user-service-test
