Repository ognjenogi/Banka-4-Backend: changes, and which Prow jobs are due for each by the changed paths.
All: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

.prow/stock-service.yml:

# Run tests and integration tests on the stock-service
presubmits:
  - name: pull-banka-4-backend-stock-service-test
    run_if_changed: "^(.*kts$|stock-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :stock-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r stock-service/build/reports /logs/artifacts/stock-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d stock-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/stock-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

.prow/user-service.yml:

# Run tests and integration tests on the user-service
presubmits:
  - name: pull-banka-4-backend-user-service-test
    run_if_changed: "^(.*kts$|user-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :user-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r user-service/build/reports /logs/artifacts/user-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d user-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/user-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

stock-service:spotless apply
  stock-service/src/main/java/rs/banka4/stock_service/domain/trading/dtos/PublicStocksDto.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/OtcRequestRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OtcRequestExpiryService.java
  stock-service/src/test/java/rs/banka4/stock_service/generator/OtcRequestGen.java
  stock-service/src/test/java/rs/banka4/stock_service/integration/OtcTests.java
Due: pull-banka-4-backend-stock-service-test

stock-service:cron job change to once a day
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OtcRequestExpiryService.java
Due: pull-banka-4-backend-stock-service-test

stock-service:spotless apply
  stock-service/src/main/java/rs/banka4/stock_service/repositories/OtcRequestRepository.java
Due: pull-banka-4-backend-stock-service-test

fixup! user-service: unfuck CurrencyCode
  user-service/src/test/java/rs/banka4/user_service/generator/AccountObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/generator/LoanObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/generator/TransactionObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/integration/seeder/TestDataSeeder.java
  user-service/src/test/java/rs/banka4/user_service/unit/loan/GetAllLoansTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/loan/ListingLoansTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/loan/LoanInstallmentSchedulerTest.java
  user-service/src/test/java/rs/banka4/user_service/unit/loan/ManageLoansTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/transaction/TransactionServiceGetTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/transaction/TransactionServiceProcessingTests.java
Due: pull-banka-4-backend-user-service-test

user-service: implement pay fee route
  user-service/src/main/java/rs/banka4/user_service/config/WhiteListConfig.java
  user-service/src/main/java/rs/banka4/user_service/controller/TransactionController.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/TransactionApiDocumentation.java
  user-service/src/main/java/rs/banka4/user_service/service/abstraction/TransactionService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/TransactionServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user-service: create fee transaction dto
  stock-service/src/main/java/rs/banka4/stock_service/domain/orders/dtos/CreateFeeTransactionDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/transaction/dtos/CreateFeeTransactionDto.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service: add new exceptions for orders
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/AlreadyUpdatedOrderStatus.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/InsufficientVolume.java
  stock-service/src/main/java/rs/banka4/stock_service/exceptions/InvalidOrderStatus.java
Due: pull-banka-4-backend-stock-service-test

stock-service: add rest template bean and async config
  docker-compose.yml
  stock-service/src/main/java/rs/banka4/stock_service/config/AsyncConfig.java
  stock-service/src/main/java/rs/banka4/stock_service/config/RestTemplateConfig.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/TransactionApiDocumentation.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service: add additional methods to order repository
  stock-service/src/main/java/rs/banka4/stock_service/repositories/OrderRepository.java
Due: pull-banka-4-backend-stock-service-test

stock-service: implement order execution logic
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/OrderService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OrderExecutionService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OrderServiceImpl.java
  stock-service/src/main/java/rs/banka4/stock_service/utils/ExecuteOrderScheduler.java
Due: pull-banka-4-backend-stock-service-test

stock-service-fix: call executeLimitOrder in executeStopLimitOrder
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OrderExecutionService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OrderServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service-fix: resolve order not found conflict
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/OrderServiceImpl.java
Due: pull-banka-4-backend-stock-service-test

stock-service-fix: delete unused securities controller and service methods
  stock-service/src/main/java/rs/banka4/stock_service/controller/SecuritiesController.java
  stock-service/src/main/java/rs/banka4/stock_service/controller/docs/SecuritiesApiDocumentation.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/responses/SecurityOwnershipResponse.java
  stock-service/src/main/java/rs/banka4/stock_service/repositories/OrderRepository.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/OrderService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/abstraction/SecuritiesService.java
  stock-service/src/main/java/rs/banka4/stock_service/service/impl/SecuritiesServiceImpl.java
  stock-service/src/test/java/rs/banka4/stock_service/unit/SecuritiesServiceImplTest.java
Due: pull-banka-4-backend-stock-service-test

user-service: finalize CurrencyCode unfuck
  user-service/src/main/java/rs/banka4/user_service/service/impl/TransactionServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user: update previously-stock route configuration
  user-service/src/main/java/rs/banka4/stock_service/controller/ActuaryController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/ExchangeController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/ListingController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/OptionsController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/OrderController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/OtcController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/SecuritiesController.java
  user-service/src/main/java/rs/banka4/stock_service/controller/StocksController.java
  user-service/src/main/java/rs/banka4/user_service/config/SecurityConfig.java
Due: pull-banka-4-backend-user-service-test

user: remove stock security configs
  user-service/src/main/java/rs/banka4/stock_service/security/BearerTokenParsingFilter.java
  user-service/src/main/java/rs/banka4/stock_service/security/JwtConfig.java
  user-service/src/main/java/rs/banka4/stock_service/security/PermissiveCorsConfig.java
  user-service/src/main/java/rs/banka4/stock_service/security/SecurityConfig.java
Due: pull-banka-4-backend-user-service-test

user: fix hard-coded exchange office URL
  user-service/src/main/java/rs/banka4/bank_service/service/impl/ExchangeRateService.java
  user-service/src/main/resources/application-dev.yml
Due: pull-banka-4-backend-user-service-test

user: remove rest template usage
  user-service/src/main/java/rs/banka4/bank_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/OrderServiceImpl.java
Due: pull-banka-4-backend-user-service-test

user: de-implement stuff communicating with other services
  user-service/src/main/java/rs/banka4/bank_service/controller/OtcController.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/ActuaryServiceImpl.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/AssetOwnershipServiceImpl.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/ExchangeRateService.java
  user-service/src/main/java/rs/banka4/bank_service/service/impl/OtcRequestServiceImp.java
  user-service/src/test/java/rs/banka4/bank_service/BankServiceApplicationTests.java
  user-service/src/test/java/rs/banka4/bank_service/StockServiceApplicationTests.java
  user-service/src/test/java/rs/banka4/bank_service/integration/OtcTests.java
Due: pull-banka-4-backend-user-service-test

bank-service: remake database
  bank-service/src/main/java/rs/banka4/bank_service/domain/account/db/Account.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/actuaries/db/ActuaryInfo.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/assets/db/AssetOwnershipId.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/currency/db/Currency.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/loan/db/LoanRequest.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/orders/db/Order.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/transaction/db/MonetaryAmount.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/transaction/db/Transaction.java
  bank-service/src/main/resources/db/migration/V2025.204.14.1744650315__initial_migration.sql
Due: none

bank-service: cleaning currency and half of actuaries
  bank-service/src/main/java/rs/banka4/bank_service/domain/account/dtos/AccountDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/account/dtos/CurrencyDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/account/mapper/AccountMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/assets/mappers/AssetMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/currency/dtos/CurrencyDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/currency/mapper/CurrencyMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/loan/dtos/LoanApplicationResponseDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/loan/dtos/LoanInformationDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/loan/mapper/LoanMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/transaction/mapper/TransactionMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/repositories/CurrencyRepository.java
  bank-service/src/main/java/rs/banka4/bank_service/runners/TestDataRunner.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/AccountServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/ActuaryServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/BankAccountServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/LoanServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/OrderServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/TransactionServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/mock/generators/AccountObjectMother.java
  bank-service/src/main/java/rs/banka4/bank_service/utils/loans/LoanInstallmentScheduler.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/AccountObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/ActuaryObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/LoanObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/OrderObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/TransactionObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/CreateAccountTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/UnBlockCardTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/seeder/TestDataSeeder.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/account/AccountServiceCreateTests.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/loan/GetAllLoansTests.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/loan/ListingLoansTests.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/loan/LoanInstallmentSchedulerTest.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/loan/ManageLoansTests.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/transaction/TransactionServiceGetTests.java
  common/src/main/java/rs/banka4/rafeisen/common/currency/CurrencyCode.java
Due: none

bank: make usergen return saved user
  bank-service/src/test/java/rs/banka4/bank_service/integration/generator/UserGenerator.java
Due: none

stock: delete SecuritiesControllerTest
  stock-service/src/test/java/rs/banka4/stock_service/integration/SecuritiesControllerTest.java
Due: pull-banka-4-backend-stock-service-test

*: fix the junit 4 ban not applying
  buildSrc/src/main/kotlin/banka4.test-conventions.gradle.kts
  stock-service/src/test/java/rs/banka4/stock_service/unit/order/OrderServiceSearchOrderTests.java
  testlib/build.gradle.kts
  user-service/src/test/java/rs/banka4/user_service/unit/authenticator/TotpServiceImplTest.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock: delete SecuritiesControllerTest
  bank-service/src/test/java/rs/banka4/bank_service/integration/SecuritiesControllerTest.java
Due: none

bank: remove testCreateAccountWithInvalidCurrency
  bank-service/src/test/java/rs/banka4/bank_service/unit/account/AccountServiceCreateTests.java
Due: none

bank: fix test errors that sprung up during db merging
  bank-service/src/test/java/rs/banka4/bank_service/generator/OrderObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/generator/OtcRequestGen.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/ActuaryTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/OtcTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/StockTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/OrderControllerTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/OrderServiceTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/TestDataFactory.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/order/OrderServiceCreateOrderTests.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/order/OrderServiceSearchOrderTests.java
  bank-service/src/test/java/rs/banka4/bank_service/utils/ActuaryGenerator.java
Due: none

bank: remove AuthorizedUser#userId
  bank-service/src/main/java/rs/banka4/bank_service/domain/card/db/AuthorizedUser.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/card/dtos/AuthorizedUserDto.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/card/mapper/CardMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/runners/TestDataRunner.java
  bank-service/src/main/java/rs/banka4/bank_service/service/mock/generators/CardObjectMother.java
  bank-service/src/main/resources/db/migration/V2025.204.14.1744650315__initial_migration.sql
  bank-service/src/test/java/rs/banka4/bank_service/generator/CardObjectMother.java
Due: none

bank: unfuck db
  bank-service/src/main/java/rs/banka4/bank_service/BankServiceApplication.java
  bank-service/src/main/java/rs/banka4/bank_service/controller/OrderController.java
  bank-service/src/main/java/rs/banka4/bank_service/controller/OtcController.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/account/db/Account.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/actuaries/db/ActuaryInfo.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/loan/db/LoanRequest.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/orders/mapper/OrderMapper.java
  bank-service/src/main/java/rs/banka4/bank_service/domain/transaction/db/MonetaryAmount.java
  bank-service/src/main/java/rs/banka4/bank_service/repositories/AssetOwnershipRepository.java
  bank-service/src/main/java/rs/banka4/bank_service/repositories/OrderRepository.java
  bank-service/src/main/java/rs/banka4/bank_service/runners/TestDataRunner.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/AccountService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/OrderService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/AccountServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/ActuaryServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/OrderServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/OtcRequestServiceImp.java
  bank-service/src/main/resources/application.properties
  bank-service/src/main/resources/db/migration/V2025.204.14.1744650315__initial_migration.sql
  bank-service/src/test/java/rs/banka4/bank_service/generator/ActuaryObjectMother.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/ActuaryTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/ListingTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/OtcTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/StockTests.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/OrderControllerTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/OrderServiceTest.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/order/TestDataFactory.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/seeder/TestDataSeeder.java
  bank-service/src/test/java/rs/banka4/bank_service/unit/order/OrderServiceCreateOrderTests.java
  bank-service/src/test/java/rs/banka4/bank_service/utils/ActuaryGenerator.java
  bank-service/src/test/resources/application.yml
  common/src/main/java/rs/banka4/rafeisen/common/security/AuthenticatedBankUserAuthentication.java
Due: none

bank: reimplement de-implemented AssetOwnershipServiceImpl fns
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/AssetOwnershipServiceImpl.java
Due: none

bank: make EmployeeService#getActuaryEmployees not return presentation-layer stuff
  bank-service/src/main/java/rs/banka4/bank_service/controller/EmployeeController.java
  bank-service/src/main/java/rs/banka4/bank_service/controller/docs/EmployeeApiDocumentation.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/EmployeeService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/EmployeeServiceImpl.java
Due: none

docker: fix compose config referring to user service
  docker-compose.yml
Due: none

bank: remove unused retrofits
  bank-service/src/main/java/rs/banka4/bank_service/config/clients/StockServiceClient.java
  bank-service/src/main/java/rs/banka4/bank_service/config/clients/UserServiceClient.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/OtcTests.java
Due: none

bank: reimplement missing bits of employeeserviceimpl
  bank-service/src/main/java/rs/banka4/bank_service/domain/user/employee/dtos/ActuaryPayloadDto.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/EmployeeServiceImpl.java
Due: none

bank: reimplement de-implemented ActuaryServiceImpl fns
  bank-service/src/main/java/rs/banka4/bank_service/controller/ActuaryController.java
  bank-service/src/main/java/rs/banka4/bank_service/controller/docs/ActuaryApiDocumentation.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/ActuaryService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/ActuaryServiceImpl.java
Due: none

bank: fix jdbc url in dev profile
  bank-service/src/main/resources/application-dev.yml
Due: none

bank: merge employee and actuary services
  bank-service/src/main/java/rs/banka4/bank_service/controller/ActuaryController.java
  bank-service/src/main/java/rs/banka4/bank_service/controller/docs/ActuaryApiDocumentation.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/ActuaryService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/abstraction/EmployeeService.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/ActuaryServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/service/impl/EmployeeServiceImpl.java
  bank-service/src/main/java/rs/banka4/bank_service/utils/LimitResetScheduler.java
  bank-service/src/test/java/rs/banka4/bank_service/integration/ActuaryTests.java
Due: none
