Repository ognjenogi/Banka-4-Backend: changes, and which Prow jobs are due for each by the changed paths.
All: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

.prow/stock-service.yml:

# Run tests and integration tests on the stock-service
presubmits:
  - name: pull-banka-4-backend-stock-service-test
    run_if_changed: "^(.*kts$|stock-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :stock-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r stock-service/build/reports /logs/artifacts/stock-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d stock-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/stock-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

.prow/user-service.yml:

# Run tests and integration tests on the user-service
presubmits:
  - name: pull-banka-4-backend-user-service-test
    run_if_changed: "^(.*kts$|user-service/|\\.prow/)"
    decorate: true
    spec:
      containers:
        - image: harbor.k8s.elab.rs/base-images/base:gradle-21-node-22-docker
          command:
            - /bin/bash
            - -c
            - |
              set -eux
              start-docker.sh

              fail=
              gradle clean || fail=yes
              gradle :user-service:generateAllTestReports || fail=yes

              # Collect test reports.
              (
                cp -r user-service/build/reports /logs/artifacts/user-service-reports
                cp -r build/reports /logs/artifacts/toplevel-reports
                set +x
                for reportDir in \
                  reports/tests/{integrationTest,test} \
                  reports/jacoco{,Integration}Test; do
                    if [[ ! -d user-service/build/"${reportDir}" ]]; then
                      echo >&2 "Report directory ${reportDir} doesn't exist, skipping..."
                      continue
                    fi
                    echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/user-service/${reportDir}/index.html"
                done
                if [[ -f build/reports/problems/problems-report.html ]]; then
                  echo "${GCSWEB_URL}/prow-logs/pr-logs/pull/${REPO_OWNER}_${REPO_NAME}/${PULL_NUMBER}/${JOB_NAME}/${BUILD_NUMBER}/artifacts/toplevel-reports/problems/problems-report.html"
                fi
              ) > /logs/artifacts/links.txt

              if [[ ${fail} ]]; then
                exit 1
              fi
          securityContext:
            privileged: true
          imagePullPolicy: Always

gradle: add makeMigration target
  README.md
  buildSrc/src/main/kotlin/banka4.migration-generator.gradle.kts
  stock-service/build.gradle.kts
  user-service/build.gradle.kts
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user,stock: allow applying out of order migrations
  stock-service/src/main/resources/application.properties
  user-service/src/main/resources/application.properties
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user/security: refactor role and privilege handling
  user-service/src/main/java/rs/banka4/user_service/config/SecurityConfig.java
  user-service/src/main/java/rs/banka4/user_service/domain/auth/db/SecuredUser.java
  user-service/src/main/java/rs/banka4/user_service/utils/JwtUtil.java
Due: pull-banka-4-backend-user-service-test

common: new module, library for common code
  .prow/stock-service.yml
  .prow/user-service.yml
  common/build.gradle.kts
  common/src/main/java/rs/banka4/rafeisen/common/.gitkeep
  settings.gradle.kts
  stock-service/build.gradle.kts
  user-service/build.gradle.kts
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

stock-service: redo database model
  stock-service/src/main/java/rs/banka4/stock_service/domain/actuaries/db/ActuaryInfo.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/actuaries/db/MonetaryAmount.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/db/Listing.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/Asset.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/Option.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/OptionType.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/orders/db/Direction.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/orders/db/Order.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/orders/db/OrderType.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/orders/db/Status.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/Security.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/forex/db/ForexPair.java
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
  stock-service/src/main/resources/application.properties
  stock-service/src/main/resources/db/migration/V2025.57.30.1743303477__nuke_db_and_make_new.sql
  stock-service/src/test/java/rs/banka4/stock_service/StockServiceApplicationTests.java
Due: pull-banka-4-backend-stock-service-test

docker: add support for the common module
  common/.dockerignore
  docker-compose.yml
  docker/Dockerfile-java
Due: none

integration/seeder/TestDataSeeder add seeder for integration tests
  user-service/src/test/java/rs/banka4/user_service/integration/seeder/TestDataSeeder.java
Due: pull-banka-4-backend-user-service-test

integration/BlockCardTest add block card integration test
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
Due: pull-banka-4-backend-user-service-test

integration/ApproveLoanTest add approve loan integration test
  user-service/src/test/java/rs/banka4/user_service/integration/ApproveLoanTest.java
Due: pull-banka-4-backend-user-service-test

integration/RejectLoanTest add reject loan integration test
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
Due: pull-banka-4-backend-user-service-test

small fix
  user-service/src/test/java/rs/banka4/user_service/integration/LoginTest.java
Due: pull-banka-4-backend-user-service-test

integration/GetAllClientsTest add get all clients integration test
  user-service/src/test/java/rs/banka4/user_service/integration/GetAllClientsTest.java
Due: pull-banka-4-backend-user-service-test

integration/CreateAccountTest add create aacount integration test
  user-service/src/test/java/rs/banka4/user_service/integration/CreateAccountTest.java
Due: pull-banka-4-backend-user-service-test

integration/DeactivateCardTest add deactivate card integration test
  user-service/src/test/java/rs/banka4/user_service/integration/DeactivateCardTest.java
Due: pull-banka-4-backend-user-service-test

integration/CreateClientTest add create client integration test
  user-service/src/test/java/rs/banka4/user_service/integration/CreateClientTest.java
Due: pull-banka-4-backend-user-service-test

integration/GetAllLoansTest add get all loans integration test
  user-service/src/test/java/rs/banka4/user_service/integration/GetAllLoansTest.java
Due: pull-banka-4-backend-user-service-test

integration/UnBlockCardTest add un block card integration test
  user-service/src/test/java/rs/banka4/user_service/integration/UnBlockCardTest.java
Due: pull-banka-4-backend-user-service-test

integration/SearchAllLoansTest add search all loans integration test
  user-service/src/test/java/rs/banka4/user_service/integration/SearchAllLoansTest.java
Due: pull-banka-4-backend-user-service-test

Changes by jonci
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/DeactivateCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/LoginTest.java
Due: pull-banka-4-backend-user-service-test

add integration tests
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/CreateClientTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/DeactivateCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/UnBlockCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/seeder/TestDataSeeder.java
Due: pull-banka-4-backend-user-service-test

apply spotless
  user-service/src/test/java/rs/banka4/user_service/integration/ApproveLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/CreateAccountTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/DeactivateCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/GetAllClientsTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/GetAllLoansTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/LoginTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/SearchAllLoansTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/UnBlockCardTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/seeder/TestDataSeeder.java
Due: pull-banka-4-backend-user-service-test

small fix
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
Due: pull-banka-4-backend-user-service-test

disable 2 tests
  user-service/src/test/java/rs/banka4/user_service/integration/ApproveLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
Due: pull-banka-4-backend-user-service-test

apply spotless
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
Due: pull-banka-4-backend-user-service-test

stock-service testdataunner setup
  stock-service/src/main/java/rs/banka4/stock_service/domain/exchanges/db/Exchange.java
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

add @Disabled description
  user-service/src/test/java/rs/banka4/user_service/integration/ApproveLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/integration/BlockCardTest.java
Due: pull-banka-4-backend-user-service-test

spotless formatting fixes
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

user-service: use a delegating password encoder
  user-service/src/main/java/rs/banka4/user_service/config/ApplicationConfig.java
Due: pull-banka-4-backend-user-service-test

extracted UUIDs, removed unnecessary code, added state seeding
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
  user-service/src/main/java/rs/banka4/user_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user/{domain,security}: create UserType enum
  user-service/src/main/java/rs/banka4/user_service/domain/user/User.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/db/Client.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/db/Employee.java
  user-service/src/main/java/rs/banka4/user_service/security/UserType.java
Due: pull-banka-4-backend-user-service-test

user/security: replace DaoAuthenticationProvider with a custom provider
  user-service/src/main/java/rs/banka4/user_service/config/ApplicationConfig.java
  user-service/src/main/java/rs/banka4/user_service/config/filters/JwtAuthenticationFilter.java
  user-service/src/main/java/rs/banka4/user_service/security/AuthenticatedBankUserAuthentication.java
  user-service/src/main/java/rs/banka4/user_service/security/AuthenticatedBankUserPrincipal.java
  user-service/src/main/java/rs/banka4/user_service/security/BankUserAuthProvider.java
  user-service/src/main/java/rs/banka4/user_service/security/PreAuthBankUserAuthentication.java
  user-service/src/main/java/rs/banka4/user_service/security/UnauthenticatedBankUserPrincipal.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/ClientServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/CustomUserDetailsService.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/utils/JwtUtil.java
  user-service/src/main/java/rs/banka4/user_service/utils/loans/LoanRateScheduler.java
  user-service/src/test/java/rs/banka4/user_service/routes/AccountControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/AuthControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/CardControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/ClientContactControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/ClientControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/EmployeeControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/LoanControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/NoopJwtAuthenticationFilter.java
  user-service/src/test/java/rs/banka4/user_service/routes/TotpControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/routes/TransactionControllerTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/client/ClientServiceCreateTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/filters/RoutesFilterTests.java
Due: pull-banka-4-backend-user-service-test

more unnecessary code removed
  stock-service/src/main/java/rs/banka4/stock_service/runners/TestDataRunner.java
Due: pull-banka-4-backend-stock-service-test

user: remove unused privileges
  user-service/src/main/java/rs/banka4/user_service/domain/user/Privilege.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/PrivilegesDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/dtos/CreateClientDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/dtos/UpdateClientDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/CreateEmployeeDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/UpdateEmployeeDto.java
  user-service/src/main/java/rs/banka4/user_service/runners/TestDataRunner.java
  user-service/src/main/java/rs/banka4/user_service/service/mock/generators/ClientObjectMother.java
  user-service/src/main/java/rs/banka4/user_service/service/mock/generators/EmployeeObjectMother.java
  user-service/src/main/resources/db/migration/V2025.47.31.1743446860__removed_unused_privileges.sql
  user-service/src/test/java/rs/banka4/user_service/generator/ClientObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/generator/EmployeeObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/unit/client/ClientServiceUpdateTests.java
Due: pull-banka-4-backend-user-service-test

user: move Privilege into common code
  common/src/main/java/rs/banka4/rafeisen/common/security/Privilege.java
  user-service/src/main/java/rs/banka4/user_service/domain/account/dtos/AccountClientIdDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/Privilege.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/User.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/dtos/ClientDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/dtos/CreateClientDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/client/dtos/UpdateClientDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/CreateEmployeeDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/EmployeeResponseDto.java
  user-service/src/main/java/rs/banka4/user_service/domain/user/employee/dtos/UpdateEmployeeDto.java
  user-service/src/main/java/rs/banka4/user_service/runners/TestDataRunner.java
  user-service/src/main/java/rs/banka4/user_service/security/AuthenticatedBankUserAuthentication.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/EmployeeServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/mock/generators/AccountObjectMother.java
  user-service/src/main/java/rs/banka4/user_service/service/mock/generators/ClientObjectMother.java
  user-service/src/main/java/rs/banka4/user_service/service/mock/generators/EmployeeObjectMother.java
  user-service/src/main/java/rs/banka4/user_service/utils/SecurityUtils.java
  user-service/src/test/java/rs/banka4/user_service/generator/AccountObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/generator/ClientObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/generator/EmployeeObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/unit/employee/EmployeeServiceTests.java
Due: pull-banka-4-backend-user-service-test

user-service: don't malformat Invalid{Loan{Type,Status},Currency} responses
  user-service/src/main/java/rs/banka4/user_service/domain/currency/db/Currency.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanStatus.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanType.java
Due: pull-banka-4-backend-user-service-test

stock-service: delete all mock generators as they are not source of truth anymore
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/ExchangeServiceMock.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/ListingServiceMock.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/SecuritiesServiceMock.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/ExchangeObjectMother.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/ForexPairObjectMother.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/FutureObjectMother.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/ListingObjectMother.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/SecuritiesObjectMother.java
  stock-service/src/main/java/rs/banka4/stock_service/service/mock/generators/StockObjectMother.java
Due: pull-banka-4-backend-stock-service-test

user-service: remove redundant JsonCreators
  user-service/src/main/java/rs/banka4/user_service/domain/currency/db/Currency.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanStatus.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanType.java
Due: pull-banka-4-backend-user-service-test

buildSrc: fix makeMigration using minutes instead of months
  buildSrc/src/main/kotlin/banka4.migration-generator.gradle.kts
Due: pull-banka-4-backend-stock-service-test, pull-banka-4-backend-user-service-test

user-service: remove Invalid{Loan{Type,Status},Currency} exceptions
  user-service/src/main/java/rs/banka4/user_service/controller/LoanController.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/AccountApiDocumentation.java
  user-service/src/main/java/rs/banka4/user_service/controller/docs/LoanDocumentation.java
  user-service/src/main/java/rs/banka4/user_service/domain/currency/db/Currency.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanStatus.java
  user-service/src/main/java/rs/banka4/user_service/domain/loan/db/LoanType.java
  user-service/src/main/java/rs/banka4/user_service/exceptions/account/InvalidCurrency.java
  user-service/src/main/java/rs/banka4/user_service/exceptions/loan/InvalidLoanStatus.java
  user-service/src/main/java/rs/banka4/user_service/exceptions/loan/InvalidLoanType.java
  user-service/src/main/java/rs/banka4/user_service/exceptions/loan/LoanAlreadyJudged.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/AccountServiceImpl.java
  user-service/src/main/java/rs/banka4/user_service/service/impl/LoanServiceImpl.java
  user-service/src/test/java/rs/banka4/user_service/generator/TransactionObjectMother.java
  user-service/src/test/java/rs/banka4/user_service/integration/RejectLoanTest.java
  user-service/src/test/java/rs/banka4/user_service/unit/account/AccountServiceCreateTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/loan/ManageLoansTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/transaction/TransactionServiceGetTests.java
  user-service/src/test/java/rs/banka4/user_service/unit/transaction/TransactionServiceProcessingTests.java
Due: pull-banka-4-backend-user-service-test

stock-service: refactor database with inheritance change and daily listings now have reference to securities
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/db/Listing.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/listing/db/ListingDailyPriceInfo.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/options/db/Asset.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/Security.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/SecurityDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/SecurityMapperImpl.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/forex/dtos/ForexPairDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/future/dtos/FutureDto.java
  stock-service/src/main/java/rs/banka4/stock_service/domain/security/stock/dtos/StockDto.java
  stock-service/src/main/resources/db/migration/V2025.100.31.1743453733__change_inheritence_type_and_listings.sql
Due: pull-banka-4-backend-stock-service-test
